#Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}
section{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}
h1 , h2 , h3 , p , button {
  pointer-events: auto;
}
