#Overlay {
  position: relative;
  width: 100%;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  height: 100svh;
}
section{
  width: 100%;
  min-height: 100dvh;
  display: flex;
  padding: 40px;
}
div {
  padding: 10px
}
h1 , h2 , h3 , h4 ,  p , button , a , span {
  pointer-events: auto;
}
@media (max-width: 768px) {
  section{
    padding: 5px;
  }
  div{
    padding: 5px;
  }
}